body {
	font-family: 'Amatic SC', cursive;
	font-size: 140%
}

header {
	font-size: 250%;
	text-decoration: underline;
	text-align: center;
}

#oreocookie {
	text-align: center;
	float: left;
	width: 30%;
	margin-left: 20px;
}

#whitechipcookie {
	text-align: center;
	float: left;
	width: 30%;
	margin-left: 20px;
}

#chocchipcookie {
	text-align: center;
	float: left;
	width: 30%;
	margin-left: 20px;
}